---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import StarBackground from '../components/StarBackground.astro';
import '../styles/global.css';

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/ansh_favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ansh_favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ansh_favicon/favicon-16x16.png">
    <link rel="manifest" href="/ansh_favicon/site.webmanifest">
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-[--color-bg-main] text-[--color-text-primary] font-hanuman selection:bg-white/20 selection:text-white">
    
    <StarBackground />
    
    <main class="w-full relative min-h-screen pb-24">
      <slot />
    </main>

    <Navigation />
    <!-- <Footer /> -->
    
    <!-- You can remove the <style is:global> block since it is now in global.css -->
  </body>
</html>